*~
.*.swp
target/
.idea/
.idea_modules/
configs/local*.conf
local-data-coordinator.conf
local-secondary-watcher.conf
.DS_Store
coordinator/docker/*.jar
coordinator/docker-secondary-watcher/*.jar
data-coordinator*.log
/.bsp/
