*~
/target/
/project/target/
/project/project/target/
/.idea/
/.idea_modules/
local-data-coordinator.conf
local-secondary-watcher.conf
.DS_Store
coordinator/docker/*.jar
coordinator/docker-secondary-watcher/*.jar
