# Copy this to local-truth-backup-receiver.conf, customize it as appropriate,
# and then add -Dconfig.file=/path/to/local-truth-backup-receiver.conf to your
# JVM arguments when launching the backup receiver.

com.socrata.backup.receiver {
  database {
    host = "localhost"
    port = 5432
    database = "datacoordinator_backup"
    username = "blist"
    password = "blist"
  }
}
