com.socrata.query-coordinator {
  metrics {
    log-metrics = {{ LOG_METRICS }}
    enable-graphite = {{ ENABLE_GRAPHITE }}
    graphite-host = "{{ GRAPHITE_HOST }}"
    graphite-port = "{{ GRAPHITE_PORT }}"
  }

  network {
    port = 6030
  }

  curator.ensemble = {{ ZOOKEEPER_ENSEMBLE }}
  service-advertisement.address = "{{ ARK_HOST }}"

  all-secondary-instance-names = [{{ PG_SECONDARY_INSTANCES }}]

}

